.clients {
    .row();
}

.clients__list {
    margin: 0 -25px 60px;
    display: flex;
    flex-flow: row nowrap;
}

.clients__item {
    margin: 0 25px;
}

.clients__btn {
    text-align: center;
    width: 100%;
}
