.clients {
    .row();
}

.clients__list {
    margin: 0 -42px 60px;
    display: flex;
    flex-flow: row nowrap;
}

.clients__item {
    margin: 0 42px;

    img {
        max-width: 100%;
        filter: grayscale(100%);
        .ease200();

        &:hover {
            filter: none;
        }
    }
}

.clients__btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
