doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=1200')
        link(rel='stylesheet', href='/styles/app.css')

        block title
            title Заголовок
    body
        include ../../www/svg/sprite.svg

        //header
        include _blocks/header
        include _blocks/nav.pug
        main
            block content
        include _blocks/footer
        script(src='/scripts/lib/requirejs/require.js' data-main="/scripts/config.js")
        script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDEDuZpHPwjPIJDvZIOW2QnESfn9ofVqag')
