extends _layout
include _mixins/all-mixins
block title
    title Mainpage
block content
    include _blocks/promo
    section.page-content
        .page-content__about
            h2.page-content__title О нас
            .page-content__text
                p Мы занимаемся оказанием услуг по ремонту и техническому обслуживанию вывесок.
                p Мы обладаем высококвалифицированным персоналом, имеющим большой опыт работы в различных сегментах наружной рекламы.
                p Мы обладаем парком современной, надежной автотехники и оборудования, что позволяет нам в точности соблюдать желаемые вами сроки выполнения и качество работ.
                p Мы имеем возможность подстраивать график и условия своей работы под ваши требования.
                p Поддержание рекламной конструкции в привлекательном и, главное, рабочем состоянии — один из ключей к успеху в бизнесе. Мы предоставляем качественное сервисное обслуживание и своевременный ремонт Вашей наружной рекламы, Вы — просто продолжаете работать.

        .page-content__service
            h2.page-content__title Наши услуги
            include _blocks/service
        .page-content__profit
            h2.page-content__title Ваши выгоды
            include _blocks/profit
        .page-content__gallery
            h2.page-content__title Примеры работ
    include _blocks/gallery
    section.page-content
        .page-content__clients
            include _blocks/clients
        .page-content__contacts
            h2.page-content__title Контакты
            include _blocks/contacts
