.clients
    .clients__list
        .clients__item
            img(src='/images/clients/magnit.png')
        .clients__item
            img(src='/images/clients/rainbow-smile.png')
        .clients__item
            img(src='/images/clients/globex.png')
        .clients__item
            img(src='/images/clients/doritis.png')
        .clients__item
            img(src='/images/clients/opt-roznica.png')
    .clients__btn
        a(href='#callback').btn.btn_padding_side-30.j-popup Стать клиентом
