.clients
    .clients__list
        .clients__item
            img(src='/images/clients/glavstroy.png')
        .clients__item
            img(src='/images/clients/glavstroy.png')
        .clients__item
            img(src='/images/clients/glavstroy.png')
        .clients__item
            img(src='/images/clients/glavstroy.png')
        .clients__item
            img(src='/images/clients/glavstroy.png')
    .clients__btn
        a.btn.btn_padding_side-30 Стать клиентом
