.gallery__wrapper
    .gallery
        .gallery__content.j-gallery
            img(src='/images/gallery/1.jpg')
            img(src='/images/gallery/2.jpg')
            img(src='/images/gallery/3.jpg')
            img(src='/images/gallery/4.jpg')


