include ../_mixins/all-mixins

header.page-header
    .page-header__inner
        .page-header__logo
            +svg('logo')
        .page-header__slogan Техническое обслуживание рекламных конструкций

