.page-nav__wrapper
    nav.page-nav
        .page-nav__inner
            ul.page-nav__list
                li.page-nav__item
                    a(href='#about').page-nav__link.j-nav о нас
                li.page-nav__item
                    a(href='#service').page-nav__link.j-nav наши услуги
                li.page-nav__item
                    a(href='#profit').page-nav__link.j-nav ваши выгоды
                li.page-nav__item
                    a(href='#gallery').page-nav__link.j-nav примеры работ
                li.page-nav__item
                    a(href='#prices').page-nav__link.j-nav цены
                li.page-nav__item
                    a(href='#contacts').page-nav__link.j-nav контакты
            .page-nav__phone
                a(href='tel:+78123803496') 8 (812) 380 34 96
