.pricelist
    .pricelist__inner
        .pricelist__tabs
            li.pricelist__tabs-item Основные услуги

        .pricelist__content
            table.pricelist__content-table
                tr
                    td Выезд сервисной бригады (2 чел) на объект. (СПб. В пределах КАД)
                    td 1 выезд
                    td 2500 ₽
                tr
                    td Работа сервисной бригады (2 чел) на объекте. (СП-б. В пределах КАД)
                    td 1 час
                    td 1700 ₽
                tr
                    td Выезд сервисной бригады (2 чел) на объект за пределы КАД
                    td 1 км
                    td 35 ₽
                tr
                    td Мойка вывески до 30 м<sup>2</sup> (включая стоимость выезда бригады)
                    td ШТ
                    td 5500 ₽
                tr
                    td Мойка вывески более 30 м<sup>2</sup>
                    td 1 м<sup>2</sup>
                    td 200 ₽
                tr
                    td Работы по восстановлению конструкций в условиях мастерской
                    td 1 чел/час
                    td 800 ₽
                tr
                    td Хранение вывески в месяц (первые 2 недели – бесплатно)
                    td 1 м<sup>2</sup>
                    td 600 ₽
                tr
                    td Утилизация рекламных конструкций
                    td 1 м<sup>2</sup>
                    td 300 ₽
br
.pricelist
    .pricelist__inner
        .pricelist__tabs
            li.pricelist__tabs-item.normal-caps Коэффициенты на основные услуги

        .pricelist__content
            table.pricelist__content-table
                tr
                    td Повышающий коэффициент за выезд и работу бригады в ночное время,<br/> выходные и праздничные дни
                    td 1,5
                tr
                    td Повышающий коэффициент за выполнение срочных работ<br/>(прибытие бригады на объект в срок, до 5 часов с момента получения заявки)
                    td 1,5
                tr
                    td Повышающий коэффициент за выполнение работ<br/> бригадой альпинистов (2 чел.)
                    td 2
                tr
                    td Понижающий коэффициент за увеличенный срок выполнения заявки <br/> без фиксированной даты и времени (до 2х недель с момента получения заявки)
                    td 0,9
                tr
                    td Понижающий коэффициент за предварительную оплату работ
                    td 0,9
