include ../_mixins/all-mixins
.profit
    ul.profit__list
        li.profit__item
            .profit__icon
                +svg('circle')
            .profit__info
                h3.profit__title Оперативность
                p.profit__descr Быстро реагируем и&nbsp;выполняем заказ точно в&nbsp;срок
        li.profit__item
            .profit__icon
                +svg('heart')
            .profit__info
                h3.profit__title Долгосрочные отношения
                p.profit__descr Мы всегда поддерживаем обратную связь
        li.profit__item
            .profit__icon
                +svg('like')
            .profit__info
                h3.profit__title Гибкие цены
                p.profit__descr Для постоянных клиентов мы&nbsp;предоставляем скидки и бонусы
        li.profit__item
            .profit__icon
                +svg('star')
            .profit__info
                h3.profit__title Гарантия
                p.profit__descr Гарантия до 2-х лет на&nbsp;пост-гарантийное обслуживание
