.promo-block__wrapper
    .promo-block
        .promo-block__img
            img(src='/images/promo.png')
        .promo-block__info
            h1.promo-block__title Ремонт рекламных вывесок за&nbsp;1-2&nbsp;дня
            .promo-block__btn
                a.btn Заказать
