.service
    .service__inner
        .service__tabs
            ul.service__tabs-list
                li.service__tabs-item.j-service-tab.is-active Ремонт
                li.service__tabs-item.j-service-tab Диагностика
                li.service__tabs-item.j-service-tab Мойка

        .service__content.is-active
            h2.page-content__title 24 часа в сутки / 7 дней в неделю
            p.page-content__text.
                Привлекательный внешний вид любой рекламной конструкции может быть утрачен со
                временем или под воздействием неблагоприятных погодных условий
                (что особенно актуально для Санкт-Петербурга),
                но практически любые повреждения можно устранить.
                При этом поврежденная вывеска,
                зачастую выглядит не привлекательно,
                а иногда может быть просто опасна.
                Компания «Ре-сервис» оказывает услуги
                по косметическому и капитальному ремонту вывесок и наружной рекламы.

        .service__content
            h2.page-content__title Более 65% повреждений устраняются за 1 выезд бригады
            p.page-content__text.
                Для того, чтобы найти поломку и установить ее причину,
                наши специалисты проводят диагностику.
                Это позволяет оценить затраты на ремонт рекламной
                конструкции, и определить количество времени, которое уйдет на восстановление наружной рекламы.

        .service__content
            h2.page-content__title Сезонная или Капитальная с разборкой конструкции.
            p.page-content__text.
                Обслуживание наружной рекламы включает в себя клининговые услуги, замену осветительных элементов,
                а также другие профилактические и ремонтные работы.
                Мойка вывесок и витрин с применением данного оборудования обеспечивает максимальное качество
                очистки поверхностей при минимальных сроках и затратах на мойку.

