.btn {
    .ease200();
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: @base-fsz;
    color: @white;
    background-color: @text-color-hover;
    padding: 15px 0;
    border-radius: 30px;
    cursor: pointer;
    width: 220px;

    &:hover {
        background-color: @btn-hover;
    }
}

.btn_padding_side-30 {
    padding: 15px 30px;
}
